{% extends 'layout.html' %}

{% block body %}
<div class="container marketing">
  {% if check in list %}
  <h1>{{data.title}}</h1>
  <small>Written by {{data.authors}} </small>
  <hr>
  <div style="width=30%">
    <h3>Book Details:</h3>
  <table class="table table-hover table-bordered" >
    <tr>
      <th>Book ID</th>
      <td>{{data.bookID}}</td>
    </tr>
    <tr>
      <th>Title</th>
      <td>{{data.title}}</td>
    </tr>
    <tr>
      <th>Author</th>
      <td>{{data.authors}}</td>
    </tr>
    <tr>
      <th>Average Rating</th>
      <td>{{data.average_rating}}</td>
    </tr>
    <tr>
      <th>ISBN</th>
      <td>{{data.isbn}}</td>
    </tr>
    <tr>
      <th>ISBN13</th>
      <td>{{data.isbn13}}</td>
    </tr>
    <tr>
      <th>Language</th>
      <td>{{data.language_code}}</td>
    </tr>
    <tr>
      <th>Number of Pages</th>
      <td>{{data. num_pages}}</td>
    </tr>
    <tr>
      <th>Ratings Count</th>
      <td>{{data.ratings_count}}</td>
    </tr>
    <tr>
      <th>Text Review Count</th>
      <td>{{data.text_reviews_count}}</td>
    </tr>
    <tr>
      <th>Publication Date</th>
      <td>{{data.publication_date}}</td>
    </tr>
    <tr>
      <th>Publisher</th>
      <td>{{data.publisher}}</td>
    </tr>



  </table>
  <div class="col-md-12 text-center">
      <a href="/issue/{{data.title}}" class="btn btn-sm btn-outline-primary">Add to MyBooks</a>
  </div>
  </div><br><br>
  {% else %}
  <h1>{{book.title}}</h1>
  <small>Written by {{book.author}} </small>
  <hr>
  <div style="width=30%">
    <h3>Book Details:</h3>
  <table class="table table-hover table-bordered" >
    <tr>
      <th>Book ID</th>
      <td>{{book.bookid}}</td>
    </tr>
    <tr>
      <th>Title</th>
      <td>{{book.title}}</td>
    </tr>
    <tr>
      <th>Author</th>
      <td>{{book.author}}</td>
    </tr>
    <tr>
      <th>ISBN</th>
      <td>{{book.isbn}}</td>
    </tr>
    <tr>
      <th>ISBN13</th>
      <td>{{book.isbn13}}</td>
    </tr>
    <tr>
      <th>Language</th>
      <td>{{book.language_code}}</td>
    </tr>

    <tr>
      <th>Availability</th>
      <td>{{book.availability}}</td>
    </tr>


  </table>

  {% if  session.logged_in and session.username != 'admin' %}
  <div class="col-md-12 text-center">
      <a href="/issue/{{book.title}}" class="btn btn-sm btn-outline-primary">Add to MyBooks</a>
  </div>
  {% endif %}
  </div><br><br>
  {% endif %}
</div>
{% endblock %}