{% extends 'layout.html' %}

{% block body %}
<div class="container marketing">

  <h1 class="text-center text-secondary">Personal Details</h1>

  <hr>
  <div >

  <table class="table table-hover table-bordered" >
    <tr>
      <th>Username</th>
      <td>{{user.username}}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{user.email}}</td>
    </tr>
    <tr>
      <th>Phone Number</th>
      <td>{{user.phone}}</td>
    </tr>
    {% if session.username != 'admin' %}
    <tr>
      <th>Books Issued</th>
      <td>{{user.issued}}</td>
    </tr>
    <tr>
      <th>Books returned</th>
      <td>{{user.returned}}</td>
    </tr>
    <tr>
      <th>Dues</th>
      <td>{{user.dues}}</td>
    </tr>
    <tr>
      <th>Paid</th>
      <td>{{user.paid}}</td>
    </tr>
    {% endif %}
    <tr>
      <th>Registered Date</th>
      <td>{{user.register_date}}</td>
    </tr>

  </table>
    <div class="col-md-12 text-center">
      <a href="/edit_details/{{user.id}}" class="btn btn-sm btn-outline-primary">Edit Details</a>
      <a href="/edit_pass/{{user.id}}" class="btn btn-sm btn-outline-warning">Change Password</a>
    </div>
  </div>



  </table>
  </div>
</div>
{% endblock %}