{% extends 'layout.html' %}

{% block body %}
  <div class="container">
  <h1>Edit Book</h1>
  {% from 'addons/formhelper.html' import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.bookid, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.title, class_="form-control") }}
    </div>

    <div class="form-group">
      {{ render_field(form.author, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.isbn, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.isbn13, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.language_code, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.availability, class_="form-control") }}
    </div><br>
    <p><input class="btn btn-primary" type="submit" value="Submit"></p>
  </form>
  </div>
{% endblock %}